.feed-post-box {
    padding: 15px 15px 0
}

.feed-post-box .expanding-wrapper textarea {
    min-height: 85px;
    background: transparent;
    resize: none;
    border: 0;
    padding: 0;
    font-size: 1.1em
}

.feed-post-box .expanding-wrapper textarea:focus {
    outline: 0 none;
    box-shadow: none
}

.feed-post-box .expanding-wrapper textarea.inactive {
    min-height: 25px;
    font-size: 1.5em;
    padding: 10px;
    height: 65px!important
}

.feed-post-box .feed-post-toolbar {
    padding: 5px 0
}

.feed-post-box .feed-post-toolbar .btn,.feed-post-box .feed-post-toolbar .form-control {
    height: 34px;
    font-size: .9em;
    display: inline-block;
    padding: 5px;
    width: 98%;
    display: block;
    margin: 0 auto
}

.feed-post-box .feed-post-toolbar label {
    font-size: .9em;
    line-height: 30px;
    padding: 0 8px 0 5px;
    background: #fafbfc;
    cursor: pointer;
    border: 1px dotted #cfd6e7;
    border-radius: 5px;
    margin-right: 5px
}

.feed-post-box .feed-post-toolbar label span {
    display: inline-block;
    padding-right: 10px
}

.feed-post-box .feed-post-toolbar label:hover {
    background: #fff
}

.feed-post-box .feed-post-toolbar img {
    width: 25px;
    padding-right: 5px
}

.feed-post-box .warning-notice-text {
    color: #ccc
}

.feed-post-box .attachment {
    padding: 10px 15px 8px;
    background: #fafbfc;
    font-size: .9em;
    border-top: 0 solid #e2e9f1;
    border-bottom: 1px solid #fff
}

.feed-post-box .attachment img {
    width: 30px;
    padding-right: 10px
}

.feed-post-box .attachment .attachment-delete {
    font-size: 1.2em;
    cursor: pointer
}

.modal {
    background: rgba(0,0,0,.5)
}

.noscroll {
    overflow: hidden
}

.noscroll .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.fademodal {
    transition: opacity .15s linear;
    opacity: 1
}

.dashboard_addthis .at-share-btn {
    margin: 12px!important;
    width: 42px;
    height: 42px
}

.dashboard_addthis .at-share-btn-elements {
    margin-top: 15px
}

.dashboard-filters .dropdown-menu>li>a {
    padding: 5px 15px
}

.active[data-v-0245eca8] {
    background: #e5e8f0;
    border-bottom: 1px solid #cfd6e7
}

.open[data-v-0245eca8] {
    display: block
}

#search-box[data-v-0245eca8] {
    padding: 0 0 10px;
    z-index: 10
}

#search-box #search-bar[data-v-0245eca8] {
    background: #fff;
    font-size: 1.2em;
    border: 1px solid #cfd6e7;
    height: 60px;
    padding-left: 25px
}

#search-box .ui-widget-content[data-v-0245eca8] {
    z-index: 5;
    border: 1px solid #cfd6e7;
    background: #fafbfc
}

#search-box .ui-menu-item[data-v-0245eca8] {
    padding: 8px 10px;
    border: none;
    border-bottom: 1px solid #cfd6e7;
    font-size: .9em
}

#search-box .ui-menu-item[data-v-0245eca8]:last-child {
    border-bottom: 0 solid #cfd6e7
}

#search-box .ui-menu-item span[data-v-0245eca8] {
    text-transform: uppercase;
    display: inline-block;
    padding-right: 25px;
    font-size: .8em;
    color: #aaa
}

#search-box .ui-state-focus[data-v-0245eca8] {
    background: #e5e8f0;
    border-bottom: 1px solid #cfd6e7
}

#search-box .ui-state-focus span[data-v-0245eca8] {
    color: #666
}

#search-box .filter-tags[data-v-0245eca8] {
    color: #444;
    font-size: .9em;
    padding: 5px 10px
}

#search-box .c1.filter-tags[data-v-0245eca8] {
    color: #fff
}

.action-item[data-v-0245eca8] {
    padding: 10px 15px;
    margin: 2px 0;
    background: #fff;
    font-weight: 700;
    border: 1px solid #eee;
    border-left: 5px solid #ff4b57;
    transition: all .5s;
    border-radius: 5px
}

.ui-menu[data-v-0245eca8] {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left
}

.ui-menu .ui-menu[data-v-0245eca8] {
    margin-top: -3px
}

.ui-menu .ui-menu-item[data-v-0245eca8] {
    margin: 0;
    padding: 0;
    zoom:1;float: left;
    clear: left;
    width: 100%
}

.ui-menu .ui-menu-item a[data-v-0245eca8] {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom:1}

.ui-menu .ui-menu-item a.ui-state-active[data-v-0245eca8],.ui-menu .ui-menu-item a.ui-state-hover[data-v-0245eca8] {
    font-weight: 400;
    margin: -1px
}

.active[data-v-579b7f40] {
    background: #e5e8f0;
    border-bottom: 1px solid #cfd6e7
}

.open[data-v-579b7f40] {
    display: block
}

#search-box[data-v-579b7f40] {
    padding: 0 0 10px;
    z-index: 10
}

#search-box #search-bar[data-v-579b7f40] {
    background: #fff;
    font-size: 1.2em;
    border: 1px solid #cfd6e7;
    height: 60px;
    padding-left: 25px
}

#search-box .ui-widget-content[data-v-579b7f40] {
    z-index: 5;
    border: 1px solid #cfd6e7;
    background: #fafbfc
}

#search-box .ui-menu-item[data-v-579b7f40] {
    padding: 8px 10px;
    border: none;
    border-bottom: 1px solid #cfd6e7;
    font-size: .9em
}

#search-box .ui-menu-item[data-v-579b7f40]:last-child {
    border-bottom: 0 solid #cfd6e7
}

#search-box .ui-menu-item span[data-v-579b7f40] {
    text-transform: uppercase;
    display: inline-block;
    padding-right: 25px;
    font-size: .8em;
    color: #aaa
}

#search-box .ui-state-focus[data-v-579b7f40] {
    background: #e5e8f0;
    border-bottom: 1px solid #cfd6e7
}

#search-box .ui-state-focus span[data-v-579b7f40] {
    color: #666
}

#search-box .filter-tags[data-v-579b7f40] {
    color: #444;
    font-size: .9em;
    padding: 5px 10px
}

#search-box .c1.filter-tags[data-v-579b7f40] {
    color: #fff
}

.action-item[data-v-579b7f40] {
    padding: 10px 15px;
    margin: 2px 0;
    background: #fff;
    font-weight: 700;
    border: 1px solid #eee;
    border-left: 5px solid #ff4b57;
    transition: all .5s;
    border-radius: 5px
}

.ui-menu[data-v-579b7f40] {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left
}

.ui-menu .ui-menu[data-v-579b7f40] {
    margin-top: -3px
}

.ui-menu .ui-menu-item[data-v-579b7f40] {
    margin: 0;
    padding: 0;
    zoom:1;float: left;
    clear: left;
    width: 100%
}

.ui-menu .ui-menu-item a[data-v-579b7f40] {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom:1}

.ui-menu .ui-menu-item a.ui-state-active[data-v-579b7f40],.ui-menu .ui-menu-item a.ui-state-hover[data-v-579b7f40] {
    font-weight: 400;
    margin: -1px
}

#tabs-default li a.active[data-v-905a67be] {
    background-color: #ccc
}

#members-list th[data-v-9b835a0a],#members-list tr td[data-v-9b835a0a] {
    padding: 10px
}

.members-list[data-v-9b835a0a] {
    border: 1px solid #eee;
    overflow-y: auto;
    height: 340px
}

.facebox-height[data-v-9b835a0a] {
    margin-bottom: 0;
    height: 50px
}

.members-list[data-v-9b835a0a]::-webkit-scrollbar {
    width: 5px
}

.members-list[data-v-9b835a0a]::-webkit-scrollbar-track {
    background: #f1f1f1
}

.members-list[data-v-9b835a0a]::-webkit-scrollbar-thumb {
    background: #888
}

.members-list[data-v-9b835a0a]::-webkit-scrollbar-thumb:hover {
    background: #555
}

.labels-padding {
    padding-bottom: 30px
}

#count_div {
    margin-bottom: 45px;
    margin-top: 45px
}

.face-label-limit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100px
}

#mailing-list .list-border {
    border-right: 2px solid #f5f5f5
}

#custom-list-box .row {
    padding: 5px
}

#custom-list-box .row .select {
    color: #4ec64e;
    cursor: pointer
}

.autocomplete .suggestionlist[data-v-49040b16] {
    width: 100%;
    position: absolute;
    z-index: 10;
    max-height: 200px;
    overflow: auto;
    border-bottom: 1px solid #dcdcdc
}

.autocomplete .suggestionlist ul[data-v-49040b16] {
    width: 100%;
    background: #f5f5f5;
    list-style: none;
    margin: 0;
    padding: 0
}

.autocomplete .suggestionlist ul li[data-v-49040b16] {
    background: #fff;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 1px
}

.autocomplete .suggestionlist ul li .type-skill[data-v-49040b16] {
    color: #aaa;
    font-size: 12px
}

.autocomplete .suggestionlist ul li[data-v-49040b16]:not(:last-child) {
    border-bottom: 1px solid #cfd6e7
}

.autocomplete .suggestionlist ul .focus[data-v-49040b16],.autocomplete .suggestionlist ul li[data-v-49040b16]:hover {
    cursor: pointer;
    background: #e5e8f0
}

.autocomplete #profile-finder-search-bar[data-v-49040b16] {
    background: #fff;
    border: 1px solid #cfd6e7;
    height: 50px;
    padding-left: 15px;
    font-size: 1.2em
}

.profile-image-small[data-v-7128114b] {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 0 auto
}

.profile-image-small img[data-v-7128114b] {
    padding: 0;
    box-shadow: none;
    height: auto;
    width: 100%;
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%
}

.job-seeker-tag[data-v-7128114b] {
    background-color: rgb(237 239 138);
    padding: 5px 10px;
    border-radius: 5px
}

.basic-details-tab[data-v-7128114b] {
    height: 200px;
    padding-top: 2%;
    border-right: 1px solid #eee
}

.work-details-tab[data-v-7128114b] {
    padding: 10px 20px
}

.work-details-tab .sub-heading[data-v-7128114b] {
    color: #a7a1a1
}

.work-details-tab .skills-company-tab[data-v-7128114b] {
    border-bottom: 1px solid #eee
}

.work-details-tab .time-period-tab[data-v-7128114b] {
    padding: 20px 0 10px
}

.profile-types[data-v-d797ec5a] {
    border-color: #e5e5e5 #d7d7d7 #d7d7d7 #e5e5e5;
    border-style: solid;
    border-width: 0;
    margin-bottom: 15px;
    border-radius: 8px
}

.profile-types .profile-filter[data-v-d797ec5a] {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 10px;
    color: #aaa
}

.profile-types .profile-filter a[data-v-d797ec5a] {
    color: #aaa
}

.profile-types .profile-filter .active[data-v-d797ec5a] {
    color: #333;
    border-bottom: 3px solid #0bb4f5
}

#experience-select[data-v-d797ec5a] {
    display: flex;
    justify-content: space-between
}

#default-div[data-v-2d09d992] {
    text-align: center;
    color: #aaa;
    margin: 70px 0 0;
    font-size: 1.5em
}

.filter-tags[data-v-2d09d992] {
    color: #444;
    font-size: .9em;
    padding: 5px 10px
}

#total-count[data-v-2d09d992] {
    padding-top: 10px
}

#divider[data-v-2d09d992] {
    margin: 15px 0;
    border-top: 1px solid #d8d5d5
}

#jdskills-div[data-v-2d09d992] {
    font-size: .9em
}

#profiles-div[data-v-5094d4f4] {
    padding: 20px 0
}

.comment-box[data-v-44400889] {
    margin-top: 0;
    padding: 5px 0 0
}

.comment-box .node-footer .node-footer-btn[data-v-44400889] {
    padding: 3px 15px;
    background: #f5f5f5;
    border-radius: 3px
}

.node-box1 .preview-link .preview-image {
    height: 150px;
    overflow: hidden;
    text-align: center
}

.node-box1 .preview-link {
    margin: 18px 0;
    display: block;
    border: 2px dotted #cfd6e7;
    background: #fafafb
}

.node-box1 .preview-link .preview-text {
    padding: 25px 25px 0
}

.abc {
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 4px 10px
}

.otp-input {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.3);
    text-align: center
}

.otp-input.error {
    border: 1px solid red!important
}

.otp-input::-webkit-inner-spin-button,.otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

a.disabled {
    pointer-events: none;
    cursor: default
}

@media (min-width: 320px) and (max-width:375px) {
    .otp-input {
        width:25px;
        height: 25px;
        padding: 5px;
        margin: 0 10px;
        font-size: 20px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.3);
        text-align: center
    }

    .otp-input.error {
        border: 1px solid red!important
    }
}